
.button_1681732407388 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #a5c8c4 !important;
    color: #000000 !important;
    border: 2px solid #a5c8c4 !important;
    border-radius: 13px !important;
    font-size: 16px !important;
    padding: 9px 41px !important; 
    transition: all 0.4s ease !important;
}
.button_1681732407388:hover{
    text-decoration: none !important; 
    background-color: #52bcff !important;
    color: #ffffff !important;
    border-color: #52bcff !important;
}
.logo-container {
    position: relative;
  }
  
  .info-block {
    position: absolute;
    top: 100%;
    left: 65%;
    display: none;
    background-color: rgb(167, 201, 229);
    padding: 10px;
    border: 1px solid rgb(167, 201, 229);
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 175px;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
  }
  
  .logo:hover + .info-block {
    display: block;
  }
  
  .logo {
    float: right;
    margin-right: -10px;
    width: 25px;
    height: 25px;
  }
  
  .text {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  
    
  